<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ClassRoomEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=ClassRoom;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	<appSettings>
		<!-- 格式化方式创建保存文件的文件夹-->
		<add key="FileUploadFolderFormat" value="yyyyMMdd" />
		<!--文件上传根文件夹-->
		<add key="RootForder" value="FileUpload" />
		<!--图片上传文件夹-->
		<add key="Images" value="Images" />
		<!-- 格式化上传图片生成规则-->
		<add key="ImageUploadFileNameFormat" value="yyyyMMddHHmmssffffff" />
	</appSettings>
</configuration>